.controlBar {
	height: 100px;
	border: 1px solid;
	margin-bottom: 10px;
	display: flex;
	background-color: #fff;
}

.figureList {
	display: flex;
	align-items: center;
	border-right: 1px solid;
	padding: 0 10px;
}

.figure {
	font-size: 50px;
	width: 1em;
	height: 1em;
	fill: #98caf1;
	margin: 0 10px;
	cursor: pointer;
	stroke: black;
	stroke-linejoin: round;
}

.nav {
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.navLink {
	font-size: 20px;
	line-height: 1;
	margin: 0 10px;
	cursor: pointer;
}

.navLinkDisabled {
	opacity: .5;
	pointer-events: none;
}
