.figure {
  position: absolute;
}

.figureDragging {
  cursor: grabbing;
  opacity: .5;
}

.figureImg {
  position: relative;
  fill: #FF9800;
  stroke: black;
  stroke-linejoin: round;
  width: 100%;
  height: 100%;
}
